.top-bar{
    height: 40px;
    /* box-sizing: border-box; */
    padding-right: 15px;
    background-color: rgb(255,231,147);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #999;
    z-index: 100;
}