body{
  /* background-color: #f5f7df; */
  background-image: url('./assets/labi.jpg');
  background-repeat: repeat-x;
  background-position: 0px -35px;
}
.App {
  text-align: center;
  position: absolute;
  top: 0px;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 1300px;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0 0 5px #333;
  z-index: 10;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
